red-vandet.dk {
    handle /documents/* {
        root * /srv
        file_server browse
    }

    handle {
        reverse_proxy app:3000
    }
}

# Valgfrit: viderestil www til din hovedside
www.red-vandet.dk {
    redir https://red-vandet.dk{uri}
}

